<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="/css/semantic.min.css" />		
		<link rel="stylesheet" href="/css/styles.css" />		
	</head>	

	<body>	

		<div class="ui fixed inverted menu">
			<div class="ui container">
				<a class="header item" href="/"><i class="world icon"></i>The Blogb!</a>
				<a class="item" href="/posts/new">New Post</a>
	 			<div class="right menu">
	 				<a class="item">Login</a>
	 				<a class="item">Sign Up</a>
	 				<a class="item">Logout</a>
	 			</div>
 			</div> <!-- container --> 
 		</div>

		    
		
