.container {	
	margin: 0 auto;	
}

#content {
	margin-top: 6em;
}

i.icon.em2 {
	font-size: 2em;
}

i.icon.emother {
	font-size: 1.2em;
}

img {
	width: 450px;
}

footer {
	margin: 20px 0; 
	text-align: center;
	font-size: 12px;
}
